{% extends "base.html" %}

{% block title %}{{ section.title }} – {{ config.title }}{% endblock title %}

{% block content %}
  <h1>{{ section.title }}</h1>
  {{ section.content | safe }}

  {% set_global current_year = "" %}
  {% for page in section.pages %}
    {% set year = page.date | date(format="%Y") %}
    {% if year != current_year %}
      {% if current_year != "" %}</ul>{% endif %}
      <h2>{{ year }}</h2>
      <ul class="doku-list">
      {% set_global current_year = year %}
    {% endif %}
    <li>
      <time datetime="{{ page.date }}">{{ page.date | date(format="%d.%m.%Y") }}</time>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
  {% endfor %}
  {% if current_year != "" %}</ul>{% endif %}
{% endblock content %}
